body {
    background-color: rgb(216, 238, 245);
}

h1 {
    margin: 30px 25% 30px 25%;
    text-align: center;
    border: 5px double white;
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

img {
    display: block;
    margin: auto;
    width: 15%;
}

#adivina {
    margin-top: 50px;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

#input {
    display: flex;
    justify-content: center;
}
input {
    margin-right: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
}
button {
    margin-left: 15px;
    font-size: 20px;
}

#pista {
    margin-top: 40px;
    font-style: italic;
    text-align: center;
}