* {
    background-color: lightgray;
    box-sizing: border-box;
}

header h1 {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: 1000;
    text-decoration: underline;
}
header p{
    text-align: center;
    width: 80%;
    margin: auto;
}

nav {
    float: left;
    width: 10%;
    text-align: center;
    border: black 2px dotted;
    /* box-shadow: 2px 2px black; */
    margin: auto;
}

section {
    width: 70%;
    margin: auto;
}

aside {
    float: right;
    text-align: justify;
    padding: 10px;
    width: 15%;
    border: blue 2px solid;
}

footer {
    clear: both;
    text-align: center;
    width: 90%;
    margin: auto;
}
footer h2{
    text-decoration: underline;
    margin-top: 5em;
}
footer ul {
    list-style-type: none;
}