body {
    margin: 0;
    background-color: rgb(225, 237, 241);
}

h1 {
    text-align: center;
    margin: 2vmin 25vmin 7vmin 25vmin;
    background-color: rgb(47, 47, 116);
    color: white;
    padding: 3vmin;
    font-size: 6vmin;
    border-radius: 20vmin;
}

table {
    margin: auto;
    border: 1vmin black solid;
    border-collapse: collapse;
    border-style: solid;
}

tr, td {
    padding: 0;
    border-style: solid;
}

button {
    font-family: monospace;
    font-size: 8vmin;
    width: 13vmin;
    background-color: white;
}

button:hover{
    background-color: lightgray;
}

p {
    text-align: center;
    font-size: 6vmin;
}

@media only screen and (max-width: 800px) {
    h1 {font-size: 8vmin; margin-left: 20vmin; margin-right: 20vmin;}
    button {font-size: 10vmin; height: 20vmin;}
    p {font-size: 7vmin;}
}